{% extends 'navegacion.html.twig' %}

{% block title %}

    Baja Delegación

{% endblock %}

{% block content %}

    <h1>Baja Clienteelegación</h1>

    <div class="alert alert-warning">
        ¿Esta seguro de que quiere dar a la Delegación {{ delegacion.nombre }} de baja?  Esta operación no se puede deshacer.
    </div>

    <form method="post">
        <a href="{{ path('delegaciones_form',{'id': delegacion.id}) }}" class="btn btn-info">Volver atrás</a>
        <button type="submit" class="btn btn-danger">Dar de baja</button>
    </form>
{% endblock %}



