{% extends 'navegacion.html.twig' %}

{% block title %}

    Baja Delegación

{% endblock %}

{% block formularios %}

    <h1 class="bg-navegacion-cabecera">Baja Clienteelegación</h1>

    <div class="alert alert-warning mt-5">
        ¿Esta seguro de que quiere dar a la Delegación {{ delegacion.nombre }} de baja?  Esta operación no se puede deshacer.
    </div>

    <form method="post">
        <a href="{{ path('delegaciones_form',{'id': delegacion.id}) }}" class="btn bg-info2 mt-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
        <button type="submit" class="btn bg-danger2 mt-5"><i class="fas fa-trash"></i>Dar de baja</button>
    </form>
{% endblock %}



