{% extends 'navegacion.html.twig' %}

{% block title %}

    Eliminar  producto

{% endblock %}

{% block formularios %}

    <h1 class="bg-navegacion-cabecera">Eliminar producto</h1>

    <div class="alert alert-warning mt-5">
        ¿Esta seguro de que quiere eliminar el producto {{ producto.nombre }}?  Esta operación no se puede deshacer.
    </div>

    <form method="post">
        <a href="{{ path('productos_form',{'id': producto.id}) }}" class="btn bg-info2 mt-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
        <button type="submit" class="btn bg-danger2 mt-5"><i class="fas fa-trash"></i> Borrar</button>
    </form>
{% endblock %}


