{% extends 'navegacion.html.twig' %}

{% block title %}
    RobCo Security
{% endblock %}

{% block content %}
    <h1 class="titulo">¡Bienvenido a la Aplicación de Administración!</h1>
    <div class="portada">

    </div>
{% endblock %}