{% block body %}

    <h2>Datos de accesos a la aplicación</h2>

    <p>Usuario => {{ usuario }}</p>
    <p>Contraseña => {{ clave }}</p>

    <p>Se le ha creado una contraseña provisional, una vez que inicie sesión en la aplicación cambie la contraseña</p>

{% endblock %}

