{% extends 'navegacion.html.twig' %}

{% block title %}

    Eliminar  albarán

{% endblock %}

{% block content %}

    <h1>Eliminar albarán</h1>

    <div class="alert alert-warning">
        ¿Esta seguro de que quiere eliminar el albrarán {{ albaran.id }}?  Esta operación no se puede deshacer.
    </div>

    <form method="post">
        <a href="{{ path('albaranes_form',{'id': albaran.id}) }}" class="btn btn-info">Volver atrás</a>
        <button type="submit" class="btn btn-danger">Borrar</button>
    </form>
{% endblock %}


