{% extends 'navegacion.html.twig' %}

{% block content %}

    <h1>
        Empleados informe
    </h1>
    <h4 class="mt-5 mb-5">Seleccione una delegación para mostar los empleados de esa delegación o dejelo en blanco para mostrar todos</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success mt-5"><i class="fas fa-save"></i> Aceptar</button>
    {{ form_end(form) }}

{% endblock %}

{% block title %}
    Albaranes
{% endblock %}

