{% extends 'navegacion.html.twig' %}

{% block formularios %}

    <h1 class="text-center mb-5">
        Informe Facturas
    </h1>
    <a href="{{ path('portada_informes') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Ir atrás</a>
    <p class="mt-5  text-center mb-5">Seleccione periodo de facturación y seleccione a un cliente para crear un informe de las facturas de ese cliente (o dejelo en blanco)</p>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p class="mt-5">
        <button type="submit" class="btn btn-success"><i class="fas fa-file-pdf"></i> Generar informe</button>
    </p>
    {{ form_end(form) }}

{% endblock %}

{% block title %}

    Informe Facturas

{% endblock %}