{% extends 'navegacion.html.twig' %}

{% block title %}

    Eliminar  contenido

{% endblock %}

{% block content %}

    <h1 class="mb-5">Eliminar contenido del presupuesto</h1>

    <div class="alert alert-warning">
        ¿Esta seguro de que quiere eliminar este producto del presupuesto {{ contenido.id }}?  Esta operación no se puede deshacer.
    </div>

    <form method="post">
        <a href="{{ path('contenido_form',{'albaran': presupuesto.id,'id': contenido.id}) }}" class="btn btn-info">Volver atrás</a>
        <button type="submit" class="btn btn-danger">Borrar</button>
    </form>
{% endblock %}


