{% extends 'navegacion.html.twig' %}

{% block content %}

    <h1>
        Enviar Mensaje
    </h1>
    <a href="{{ path('portada') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane"></i> Enviar</button>
    <button type="reset" class="btn btn-warning"><i class="fas fa-broom"></i> Limpiar</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Enviar Mensaje
{% endblock %}

