{% extends 'navegacion.html.twig' %}

{% block formularios %}

    <h1 class="bg-navegacion-cabecera">Cambiar Clave</h1>
<div class="bg-cuadrosNavegacion p-5">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn bg-success2"><i class="fas fa-check"></i> Cambiar contraseña</button>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block title %}
    Cambio de Clave
{% endblock %}

