{% extends 'navegacion.html.twig' %}

{% block content %}

    <h1>
        Restablecer contraseña
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Aceptar</button>
    <a href="{{ path('usuario_entrar') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver Atrás </a>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Restablecer contraseña
{% endblock %}

