{% extends 'navegacion.html.twig' %}

{% block content %}

    <h1 class="mb-5">
        Restablecer contraseña
    </h1>
    {{ form_start(form) }}
    <p class="mt-5 mb-5 text-center">Inserte su email asociado a su cuenta y luego pulse en enviar</p>
    {{ form_widget(form) }}

    <p class="mt-5">
        <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane"></i> Enviar</button>
        <a href="{{ path('usuario_entrar') }}" class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Volver Atrás </a>
    </p>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Restablecer contraseña
{% endblock %}

