{% extends 'navegacion.html.twig' %}

{% block title %}

    Baja presupuesto

{% endblock %}

{% block content %}

    <h1>Baja presupuesto</h1>

    <div class="alert alert-warning mt-5">
        ¿Esta seguro de que quiere dar al presupuesto {{ presupuesto.id }} de baja?  Esta operación no se puede deshacer.
    </div>

    <form method="post">
        <a href="{{ path('presupuestos_form',{'id': presupuesto.id}) }}" class="btn btn-info mt-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
        <button type="submit" class="btn btn-danger mt-5"><i class="fas fa-trash"></i> Dar de baja</button>
    </form>
{% endblock %}


