{% extends 'navegacion.html.twig' %}

{% block content %}
    <h1 class="bg-navegacion-cabecera">Menú Clientes</h1>
    <a href="{{ path('portada') }}" class="btn bg-info2"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    <div class="box">
        <div class="container">
            <div class="row">
                {% if is_granted('ROLE_GESTOR') %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="box-part text-center bg-cuadrosNavegacion">

                            <i class="fa fa-list-ul fa-3x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Listado Clientes</h4>
                            </div>

                            <div class="text">
                                <span>Listados de los clientes</span>
                            </div>

                            <a href="{{ path('clientes_Listar') }}" class="btn bg-warning2">Ir al listado</a>

                        </div>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_GESTOR') %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="box-part text-center bg-cuadrosNavegacion">

                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Añadir Cliente</h4>
                            </div>

                            <div class="text">
                                <span>Dar de alta a un cliente</span>
                            </div>

                            <a href="{{ path('altas_clientes') }}" class="btn bg-warning2">Añadir Cliente</a>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Menú Clientes
{% endblock %}

