{% extends 'navegacion.html.twig' %}

{% block content %}
    <h1 class="bg-navegacion-cabecera">Menú Almacén</h1>
    <a href="{{ path('portada') }}" class="btn bg-info2"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
    <div class="box">
        <div class="container">
            <div class="row">
                {% if is_granted('ROLE_GESTOR') %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="box-part text-center">

                            <i class="fa fa-list-ul fa-3x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Listado Productos</h4>
                            </div>

                            <div class="text">
                                <span>Listados de los productos</span>
                            </div>

                            <a href="{{ path('productos_Listar') }}" class="btn bg-warning2">Ir al listado</a>

                        </div>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_GESTOR') %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="box-part text-center">

                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Añadir Producto</h4>
                            </div>

                            <div class="text">
                                <span>Dar de alta a un producto</span>
                            </div>

                            <a href="{{ path('altas_productos') }}" class="btn bg-warning2">Añadir Producto</a>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Menú Productos
{% endblock %}
