{% extends 'navegacion.html.twig' %}

{% block formularios %}
    <h1 class="text-center">
            Documento Sepa
    </h1>
    <a href="{{ path('factura_portada') }}" class="btn btn-info mt-3 mb-3"><i class="fas fa-arrow-alt-circle-left"></i> Volver atr치s</a>

    <h3 class="text-center mt-5 mb-5">Seleccione periodo de facturaci칩n y a continuaci칩n pulse 'Generar Documento'</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success  mt-5 mb-5"><i class="fas fa-save"></i> Generar Documento</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
   Documentaci칩n Sepa
{% endblock %}

