{% extends 'navegacion.html.twig' %}

{% block title %}

    Baja parte

{% endblock %}

{% block formularios %}

    <h1>Baja parte</h1>

    <div class="alert alert-warning mt-5">
        ¿Esta seguro de que quiere dar al parte {{ parte.id }} de baja?  Esta operación no se puede deshacer.
    </div>

    <form method="post">
        <a href="{{ path('partes_form',{'id': parte.id}) }}" class="btn btn-info mt-5"><i class="fas fa-arrow-alt-circle-left"></i> Volver atrás</a>
        <button type="submit" class="btn btn-danger mt-5"><i class="fas fa-trash"></i> Dar de baja</button>
    </form>
{% endblock %}


