{% extends 'navegacion.html.twig' %}

{% block title %}

    Baja parte

{% endblock %}

{% block content %}

    <h1>Baja parte</h1>

    <div class="alert alert-warning">
        ¿Esta seguro de que quiere dar al parte {{ parte.id }} de baja?  Esta operación no se puede deshacer.
    </div>

    <form method="post">
        <a href="{{ path('partes_form',{'id': parte.id}) }}" class="btn btn-info">Volver atrás</a>
        <button type="submit" class="btn btn-danger">Dar de baja</button>
    </form>
{% endblock %}


